.Workspace-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: max-content;
  background-color: #eee;
  height: 100vh;
  width: 100px;
  z-index: 100;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
}

.toolbar-items {
  position: sticky;
  list-style: none;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  gap: 20px;
}

.toolbar-item {
  cursor: pointer;
  transition: 0.3s;
}

.toolbar-item.active:hover {
  transform: translateX(10px);
}

.mt-auto {
  margin-top: auto;
}

.contain-trash-feature {
  position: relative;
}
