.CardTrash {
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 11;
    width: 300px;
    max-width: 300px;
}

.CardTrash-header {
    text-align: center;
}

.CardTrash-body {
    background-color: #eee;
}