.CardParticipant {
  min-width: 400px;
}

.CardParticipant .option-bar-header {
  border-bottom: 0.5px solid #ccc;
}

.option-bar-participant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
}

.participant-bar-header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.participant-content-text {
  text-align: start;
  font-size: 14px;
  color: #333;
}

.participant-bar-header-time {
  font-size: 14px;
  color: #666;
}
