.contain-card {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  min-width: 300px;
}

.card-text {
  border: none;
  outline: none;

  font-size: 14px;
  color: var(--text-color-normal);
  font-family: inherit;
}

[contenteditable][placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--text-color-light);
}

.card-text-focus {
  border: 2px solid #333;
  box-shadow: none;
}
