* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap'); */

html {
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color-bold: hsl(197, 11%, 12%);
  --text-color-normal: hsl(210, 2%, 18%);
  --text-color-light: hsl(0, 0%, 67%);
  --text-color-lighter: hsl(0, 0%, 82%);
  --primary-color: hsl(198, 59%, 34%);
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.bg-blue {
  background-color: #1a77f2 !important;
}

.bg-red {
  background-color: #f47373 !important;
}

.bg-black {
  background-color: #333 !important;
  color: #fff !important;
}

.bg-black-blue {
  background-color: rgb(35, 58, 65) !important;
  color: rgb(238, 249, 255) !important;
}

.color-blue {
  color: #1a77f2;
}

.color-red {
  color: #f47373;
}

.color-black {
  color: #333;
}

.form-group-checkbox {
  display: flex;
  gap: 10px;
}

.form-group-checkbox label {
  font-size: 12px;
  color: var(--text-color-bold);
  font-weight: 500;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  opacity: 0.9;
}

.button-login {
  align-self: center;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 18px;
  color: var(--text-color-light);
  background-color: transparent;
  border: 2px solid var(--text-color-light);
  cursor: pointer;
  transition: 0.3s;
}

.button-login:hover {
  color: var(--text-color-normal);
  border: 2px solid var(--text-color-normal);
}

.button-transparent {
  outline: none;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: 0.25s;
}

.button-transparent:hover {
  color: #444;
}

.button-circle {
  display: inline-flex;
  border: none;
  outline: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.react-draggable {
  display: inline-block;
  position: absolute;
}

.react-draggable-dragging {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: grabbing;
}

.ql-toolbar {
  background-color: #fff;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px !important;
}

.ql-container {
  margin-top: 10px !important;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 100px !important;
  max-width: 600px !important;
}

.waiting {
  width: 22px;
  height: 22px;
  border: 5px solid var(--text-color-lighter);
  border-top: 5px solid var(--text-color-normal);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
